/* 
https://www.youtube.com/watch?v=SjtdH3dWLa8
https://github.com/manualdodev/pokedex
*/

* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

body {
    text-align: center;
    font-family: 'Oxanium', cursive;
    font-size: xx-large;
    background: linear-gradient(#6ab7f5, #fff);
    min-height: 100vh;
}

#div-principal {
    display: inline-block;
    margin-top: 2%;
    padding: 15px;
    position: relative;
}


#div-escolherPokemon {
    margin-top: 2%;
}

#input-pokemon, button {
    font-family: 'Oxanium', cursive;
    font-size: x-large;
    margin-top: 5%;
}

#div-pokedex {
    margin: 10px;
    padding: 10px;
    width: 100%;
    min-width: 400px;
}

#div-img-pokemon {
    background-repeat: no-repeat;
    background-position: center;
}

#div-infos-pokemon {
    margin-top: 5%;
    position: absolute;
    bottom: 15%;
    left: 34%;
}

.img-pokemon {
    position: absolute;
    bottom: 39%;
    left: 49%;
    width: 17%;
    transform: translate(-40%, 20%);
    height: 12%;
}

.img-erro {
    width: 25%;
}